@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


html{
    font-size: 62.5%;
    --font-fam: 'Roboto', sans-serif;
    --teal-clr: #008080;
    --hotpink-clr: #FF4DA6;
    --white: #FFFFFF;
    --gray-cards: #fafaf9;
    --gray-bg-input: #e7e5e4;
    --gray-text: #78716c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-fam);
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 'sidebar header header'
                         'sidebar main1 main2';
}

.header{
    grid-area: header;
    padding: 1.5em;
    background-color: var(--gray-cards);
}

.top-header{
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 4em;
}

.search{
    display: flex;
    align-items: center;
}

.search-icon{
    margin-right: 2em;
    height: 0.6rem;
}

input{
    width: min(80%, 700px);
    border-radius: 99rem;
    padding: 0.8em;
    background-color: var(--gray-bg-input);
    border: none;
    outline: none;
}

.account{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 900;
}

.notification-icon{

}

.top-header-image{

}

.acc-name{

}

.bottom-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-greeting{
    display: flex;
}

.bottom-header-image{

}

.greeting-name{

}

.greeting{
    font-size: 1.3rem;
    font-weight: 900;
    margin-bottom: 0.7em;
}

.name{
    font-size: 2.1rem;
    font-weight: 900;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.buttons button{
    border: none;
    outline: none;
    background-color: var(--teal-clr);
    border-radius: 99rem;
    padding: 0.8em 2em;
    font-size: 1.5rem;
    color: var(--white);
}

.sidebar{
    grid-area: sidebar;
    background-color: var(--teal-clr);
    padding: 3em;
}

.sidebar-title{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--white);
    font-size: 2.5rem;
    font-weight: bolder;
    letter-spacing: 0.2rem;
}

.dashboard-icon{
    width: 5rem;
    height: auto;
}

.icon{
    width: 2.8rem;
    height: auto;
}


.sidebar-a{
    margin-top: 3em;
    display: grid;
    gap: 2rem;
}

.sidebar-b{
    margin-top: 6em;
    display: grid;
    gap: 2rem;
}

.sidebar ul li{
    list-style: none;
}

a:link { 
    text-decoration: none; 
}


a:visited { 
    text-decoration: none; 
}


a:hover { 
    text-decoration: none; 
}


a:active { 
    text-decoration: none; 
}

.nav-link{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.9rem;
    font-weight: 500;
    color: var(--white);
}

.main1{
    grid-area: main1;
    background-color: var(--gray-bg-input);
}

.main1 div{

}

.main2{
    grid-area: main2;
    background-color: var(--gray-bg-input);
}

.announcements{

}

.trending{

}