@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



html{
    font-size: 62.5%;
    --font-fam: 'Roboto', sans-serif;
    --teal-clr: #008080;
    --hotpink-clr:  #ff3399;
    --white: #FFFFFF;
    --gray-cards: #fafaf9;
    --gray-bg-input: #e7e5e4;
    --gray-text: #78716c;
    --black-clr: #000000;
    --gray-border: #e7e5e4;
    --box-shadow-header: 0px 5px 5px 0px rgba(105,105,105,0.25);
    --box-shadow-cards: 3px 3px 5px 0px rgba(105,105,105,0.25);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-fam);
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 'sidebar header header'
                         'sidebar main1 main2';

    height: 100vh; /*without this the navbar behaves wierd. on smaller screens, the navbar's bottom becomes big and moves content downwards.*/
}

.header{
    grid-area: header;
    padding: 1.9em 4.5em;
    background-color: var(--gray-cards);

    box-shadow: var(--box-shadow-header);

    z-index: 999;
}

.top-header{
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    margin-top: 0.8em;
    margin-bottom: 3.5em;
}

.search{
    display: flex;
    align-items: center;
}

.search-icon{
    margin-right: 1em;
    
}

input{
    width: min(80%, 700px);
    border-radius: 99rem;
    padding: 0.8em;
    background-color: var(--gray-bg-input);
    border: none;
    outline: none;
}

.account{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.8rem;
    font-weight: 900;
}

#notification-icon{
    font-size: 24px;
}

.top-header-image img{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}

.acc-name{
    font-size: 1.9rem;
    letter-spacing: 0.1rem;
}

.bottom-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-header-image img{
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
}

.profile-greeting{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.greeting-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.greeting{
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
}

.name{
    font-size: 2.2rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    
}

.buttons{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.buttons button{
    border: none;
    outline: none;
    background-color: var(--teal-clr);
    border-radius: 99rem;
    padding: 0.8em 2em;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.sidebar{
    grid-area: sidebar;
    background-color: var(--teal-clr);
    padding: 3em;
}

.sidebar-title{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--white);
    font-size: 2.5rem;
    font-weight: bolder;
    letter-spacing: 0.3rem;
}

#dashboard-icon{
    font-size: 36px;
}


.sidebar-a{
    margin-top: 6em;
    display: grid;
    gap: 2rem;
}

.sidebar-b{
    margin-top: 7em;
    display: grid;
    gap: 2rem;
}

.sidebar ul li{
    list-style: none;
}

a:link { 
    text-decoration: none; 
}


a:visited { 
    text-decoration: none; 
}


a:hover { 
    text-decoration: none; 
}


a:active { 
    text-decoration: none; 
}

.nav-link{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--white);
    letter-spacing: 0.1rem;
}

.main1{
    grid-area: main1;
    padding: 3em 4.5em;
    background-color: var(--gray-bg-input);
}

.main1 h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    grid-auto-rows: 25rem;
    gap: 3rem;
}

.card{
    padding: 3rem;
    font-size: 1.5rem;
    color: var(--gray-text);
    border-radius: 0.5rem;
    background-color: var(--gray-cards);
    border-left: 10px solid var(--hotpink-clr);
    box-shadow: var(--box-shadow-cards);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-title{
    font-size: 1.8rem;
    color: #000000;
    letter-spacing: 0.1rem;
}

.card p{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 5; /* number of lines to show on cards */
   -webkit-box-orient: vertical;
}

.card-icons span{
    color: var(--black-clr);
    cursor: pointer;
}

.card-icons{
    display: flex;
    justify-content: flex-end;

    /*align-items: flex-end;*/
    margin-top: auto; /*to add as much margin on the top of this div as there is space for. so, it will push itself down of its holding container/parent and create space on top*/
    
    gap: 1rem;
}



.main2{
    grid-area: main2;
    
    display: flex;
    flex-direction: column;
    gap: 3em;
    background-color: var(--gray-bg-input);
    padding: 3em 4.5em 3em 0;
}

.announcements{

}

.announcements-title{
    font-size: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
}

.announcements-content{
    border-radius: 0.5rem;
    padding: 2rem 4rem;
    background-color: var(--gray-cards);
    box-shadow: var(--box-shadow-cards);

}

.announcements-content h5{
    font-size: 1.5rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.1rem;
}

.announce1 {
    margin-top: 0.9rem;
    padding-bottom: 2rem;
}

.announce2 {
    border-top: 1px solid var(--gray-border);
    border-bottom: 1px solid var(--gray-border);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.announce3 {
    padding-top: 2rem;
}


.announcements-content p{
    font-size: 1.3rem;
    color: var(--gray-text);

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show on cards */
    -webkit-box-orient: vertical;

}

.trending{
    
}

.trending-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
}

.trending-item{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.trending-content{
    background-color: var(--gray-cards);
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    border-radius: 0.5rem;
    gap: 1rem;
    box-shadow: var(--box-shadow-cards);
}

.trending img{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}

.user-name {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.trending-project-name {
    font-size: 1.3rem;
    color: var(--gray-text);
}

.trending-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}